<%- include("partials/header") %> 
<style>
	body{
		background:#fff;
	}
</style>
<div class="container">
<h1>
	Add New Series
</h1>
	<form action="/home/<%=home._id%>?_method=PUT" method="POST">
 <input type="text" name="home[series]" value="<%=home.series%>">
 <input type="text" name="home[image]" value="<%=home.image%>">
 <input type="text" name="home[data]" value="<%=home.data%>">
 <input type="text" name="home[premise]" value="<%=home.premise%>">
		<br>
 <input type="text" name="home[castp1]" value="<%=home.castp1%>">
 <input type="text" name="home[castn1]" value="<%=home.castn1%>">
 <input type="url" name="home[castd1]" value="<%=home.castd1%>">
		<br>	
 <input type="text" name="home[castp2]" value="<%=home.castp2%>">
 <input type="text" name="home[castn2]" value="<%=home.castn2%>">
 <input type="url" name="home[castd2]" value="<%=home.castd2%>">
		<br>
 <input type="text" name="home[castp3]" value="<%=home.castp3%>">
 <input type="text" name="home[castn3]" value="<%=home.castn3%>">
 <input type="url" name="home[castd3]" value="<%=home.castd3%>">
		<br>
 <input type="text" name="home[castp4]" value="<%=home.castp4%>">
 <input type="text" name="home[castn4]" value="<%=home.castn4%>">
 <input type="url" name="home[castd4]" value="<%=home.castd4%>">
		<br>
 <input type="text" name="home[castp5]" value="<%=home.castp5%>">
 <input type="text" name="home[castn5]" value="<%=home.castn5%>">
 <input type="url" name="home[castd5]" value="<%=home.castd5%>">
		<br>
 <input type="text" name="home[castp6]" value="<%=home.castp6%>">
 <input type="text" name="home[castn6]" value="<%=home.castn6%>">
 <input type="url" name="home[castd6]" value="<%=home.castd6%>">
		<br>
 <input type="url" name="home[link]" value="<%=home.link%>">
 <input type="url" name="home[watch]" value="<%=home.watch%>">
 <input type="submit">
	</form>
</div>

<%- include("partials/footer") %> 
